<div>
    <ol id="bibliography">
        <% for (let i  in books) { %>
        <% const book = books[i] %>
        <li>
            <div>
                <span><%= book.author %>.</span>
                <cite><%= book.title %>.</cite>
                <span><%= book.city %>: <%= book.publisher %>, <time datetime="<%= book.year %>"><%= book.year %>.</time></span>
            </div>
            <dfn>This is where I annotate this entry</dfn>
            <div class="link-bin">
                <a href="https://amazon.com">
                    Buy on Amazon
                </a>
            </div>
        </li>
        <% } %>
    </ol>
</div>
