<div class="bibliography">
    <ol>
        <% for (let i  in books) { %>
        <% const book = books[i] %>
        <li>
            <p>
                <span><%= book.author %>.</span>
                <cite><%= book.title %>.</cite>
                <span><%= book.city %>: <wbr><%= book.publisher %>, <wbr><time datetime="<%= book.year %>"><%= book.year %>.</time></span>
            </p>
            <% if (book.annotation) { %>
                <dfn><%= book.annotation %>/dfn>
            <% } %>
            <div class="link-bin">
                <a href="<%= book.links.amazon %>">
                    Buy on Amazon
                </a>
            </div>
        </li>
        <% } %>
    </ol>
</div>
